* {
  margin: 0px;
}
html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: $main-withe;
  background-color: darken($color: $dark-grey, $amount: 10);
}
main {
  width: 100%;
}
.mt-1 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-5 {
  margin-bottom: 20px;
}
.pointer {
  cursor: pointer;
}
.container {
  align-items: center;
  display: flex;
  width: 100vw;
}
// ::-webkit-scrollbar {
//   display: none;
// }
